<img class="familyImage scalableThumbnail" data-thumb-height="384" data-thumb-width="458" src="img/JustinAndJenny.jpg" />

<p>Hi - I'm Justin.  I live in Wisconsin, and I love software development and all things technical! I'm happily married and have two awesome dogs - Jake and Clark!</p>

<p>Technology and Software Development are a passion of mine.  While I work as an Engineering Manager in my day job and don't write any code in my 9-5 anymore, coding is still one of my major hobbies/pastimes, and I find plenty of time off hours to work on my craft.  Before I became a manager, I worked pretty much exclusively with the .NET stack - primarily C# and ASP.NET Web Forms.   However, I've broadened my horizons quite a bit since then.  I'm still most comfortable in C#, however, I've also dabbled in Java, Android, iOS, Python, and C code as well!</p>

<p>Besides software development, I play guitar, hack around with micro-controllers (the Raspberry Pi and Arduino are AWESOME!), play my PS4, and keep up with this blog.  I also am a proud supporter of the 2nd amendment, and take any chance I can to get out to the range and shoot my Beretta 92FS and Ruger SR9C. The <a href="https://danieldefense.com/firearms/daniel-defense-m4-carbine-v1.html" target="_blank">Daniel Defense M4 Carbine</a> is next on my wish list :)</p>
<br />

<p>Feel free to contact me via email at <a href="mailto:justin@carlsoncoder.com">justin@carlsoncoder.com</a>, or check me out on <a href="https://www.twitter.com/carlsoncoder">Twitter</a></p>

<p>-Justin</p>
<br />

<div script-loader pagename="about"></div>