<p>I'm Justin, and I love software development and all things technical!</p>

<p>Technology and Software Development are a passion of mine.  I currently work as a Software Architect, so coding and designing is part of my day job and my free time!  I'm most comfortable with the .NET stack (C#, SQL Server, ASP.NET MVC, etc.), but I have worked with quite a few other languages and frameworks, including: Ionic, AngularJS, NodeJS, Python, Android/Java, and C/C++.</p>

<p>Besides software development, I hang out with my daughter Hannah, play guitar, and hack around with micro-controllers (the Raspberry Pi and Arduino are AWESOME!), along with other software projects.</p>
<br />

<p>Feel free to contact me via email at <a href="mailto:justin@carlsoncoder.com">justin@carlsoncoder.com</a>, or check me out on <a href="https://www.twitter.com/carlsoncoder" target="_blank">Twitter</a>, or <a href="https://www.linkedin.com/pub/justin-carlson/47/726/459" target="_blank">LinkedIn</a></p>

<p>-Justin</p>
<br />

<div script-loader pagename="about"></div>
<toastr-watcher></toastr-watcher>